{{! Partial for a single post }}
<div class="post">
	<div class="post-avatar">
		<!-- the user's avatar -->
	</div>
	<div class="post-content preserve-newlines">
		<!-- the post -->
		<h1>{{this.title}}</h1>
		<h4>{{this.username}}</h4>
		<p>{{this.content}}</p>
		<div class="post-status-bar">
			<!-- everything that is shown in the status bar -->
			<!-- Heart = ♥ -->
			<!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
			{{#ifCond this.username user.username}}
			<button class="deleteButton" data-id={{this.id}} onclick="handleDeleteClick(event)"><i class="fas fa-trash-alt"> </i></button>
			{{else}}
			<button class="likeButton" data-id={{this.id}} onclick="handleLikeClick(event)">♥</button>
			{{/ifCond}}
			<span class="likes">{{this.likes}} likes</span>
			<span>Posted by {{this.username}} on {{this.timestamp}}</span>
		</div>        
	</div>
</div>
<script>

	function handleLikeClick(event) {
		const postId = event.target.getAttribute('data-id');
		try {
			fetch('/like/' + postId, {
				method: 'POST',
			})
			.then(res => {
				console.log(res);
				window.location.reload();

			})
			.catch(error => console.error(error))
		} catch (error) {
			console.error(error);
		}

		// you might want to "fetch" something...        
	}

	function handleDeleteClick(event) {
		const buttonElement = event.target.closest('.deleteButton');
		const postId = buttonElement.getAttribute('data-id');        
		try {
			fetch('/delete/' + postId, {
				method: 'POST',
			})
			.then(res => {
				console.log(res);
				window.location.reload();
			})
			.catch(error => console.error(error))
		} catch (error) {
			console.error(error);
		}
		// you might want to "fetch" something...        
		
	}    
</script>