<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	
	<!-- font awesome for the trashcan icon --> 
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
	
	<title>{{{appName}}}</title>

	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<div class="logo">
			{{!-- <img src="images/logo.png" class="header-logo"> --}}
			<h1>{{{appName}}}</h1>
		</div>
		<nav>
			<ul>
				<!-- conditional rendering based on variables - Is the user logged in?-->
				<li><a href="/">HOME</a></li>
				{{#if loggedIn}}
					<li><a href="/profile">{{user.username}}</a></li>

					{{!-- TODO: get user.username to be uppercase when rendered --}}
					<li><a href="/logout">LOGOUT</a></li>
						

				{{else}}
					<li><a href="/login">LOGIN</a></li>
				{{/if}}
			</ul>
		</nav>
		{{#if loggedIn}}
			{{#if user.avatar_url}}
				<img src="{{user.avatar_url}}" alt="Profile Picture" class="profile-picture">
			{{/if}}
		{{/if}}
	</header>

	{{{body}}}

	<footer>
		<p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
	</footer>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const currentPath = window.location.pathname;
			const links = document.querySelectorAll('nav ul li a');
			links.forEach(link => {
				if (link.getAttribute('href') === currentPath) {
					link.style.color = '#FF6347'; // Change font color
					link.style.textDecoration = 'underline'; // Add underline
				}
			});
		});
	</script>
</body>
</html>
